.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    max-width: 200px;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .container {
        margin: 20px;
        padding: 10px;
    }
}