.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #0D6FFC;
    border-bottom: 1px solid #000000;
}

@media screen and (max-width: 600px) {
    .container {
        margin: 20px;
        padding: 10px;
    }
}