.app-container {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: flex-end;
    margin: 10px 10px 0 0;
}

@media screen and (max-width: 600px) {
    .app-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}