.box-information {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 20px  auto;
    width: 100%;
    padding: 20px;
}

h2 {
    color: #010101;
}

p {
    font-size: medium;
    font-style: italic;
    color: #929292;
}

.layout-curriculum {
    margin-top: 20px;
}

.layout-curriculum img {
    width: 500px;
    height: 550px;
    filter: brightness(0.9);
    border: 3px solid #979797;
}

button {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #01BC68;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: none;
}

button:hover {
    background-color: #00a55b;
}

a {
    color: #fff;
    text-decoration: none;
}



@media screen and (max-width: 600px) {
    .layout-curriculum img {
        max-width: 300px;
        max-height: 400px;
    }

    .box-information {
        display: flex;
        flex-direction: column;
        padding: auto;
        width: auto;
    }
}