<div class="box-information">
    <h2>Modelo 1 - Desenvolvedor Backend</h2>
    <p>Disponibilizado por: Catcho</p>
    <p>Março de 2024</p>

    <div class="layout-curriculum"> <img src="../../../assets/images/image_curriculum_catcho_dev_backend.png"
            alt="Imagem contendo modelo de curriculo gratuito">
    </div>

    <button>
        <a href="../../../assets/curriculum/modelo-curriculo-desenvolvedor-back-end-catho-atualizado.docx"
            target="_blank" download>Download</a>
    </button>
</div>

<div class="box-information">
    <h2>Modelo 2 - Desenvolvedor Frontend</h2>
    <p>Disponibilizado por: Catcho</p>
    <p>Março de 2024</p>

    <div class="layout-curriculum">
        <img src="../../../assets/images/image_curriculum_catch_dev_frontend.png"
            alt="Imagem contendo modelo de curriculo gratuito">
    </div>

    <button>
        <a href="../../../assets/curriculum/modelo-de-Curriculo-desenvolvedor-front-end-catho-atualizado.docx"
            target="_blank" download>Download</a>
    </button>
</div>

<div class="box-information">
    <h2>Modelo 3 - Currículo Vitae</h2>
    <p>Disponibilizado por: Futura Estágios</p>
    <p>Março de 2024</p>

    <div class="layout-curriculum"> <img src="../../../assets/images/image_curriculum_futura_estagios.png"
            alt="Imagem contendo modelo de curriculo gratuito">
    </div>

    <button>
        <a href="../../../assets/curriculum/modelo_cv_futura_estagios.doc" target="_blank" download>Download</a>
    </button>

    <div class="box-information">
        <h2>Modelo 4 - Currículo Vitae</h2>
        <p>Disponibilizado por: Google Docs</p>
        <p>Março de 2024</p>
    
        <div class="layout-curriculum"> <img src="../../../assets/images/image_curriculum_googledocs_first.png"
                alt="Imagem contendo modelo de curriculo gratuito">
        </div>
    
        <button>
            <a href="../../../assets/curriculum/modelo_curriculo_googledocs_first.docx" target="_blank" download>Download</a>
        </button>

</div>